<div class="relative flex flex-col gap-y-2 cursor-pointer" routerLink="/products/1">
  <div class="max-w-[300px] h-auto">
    <img src="https://www.godrejinterio.com/imagestore/B2C/56101543SD00017/56101543SD00017_A2_803x602.jpg"  alt="product.jpg">
  </div>
  <div [appProductStatus]="'BEST SELLER'"></div>
  <p class="text-text">Folding table with 4 chairs around</p>
  <b>{{ 542000 | vndCurrency }}</b>
  <button routerLink="/products/1" class="border border-[1px] border-[#cbd5e1] py-2 hover:opacity-70">
    <p class="text-text font-bold">Add to cart</p>
  </button>
</div>
