<div class="h-[350px] w-full bg-[#F5F5F5] py-[30px] px-[5%] flex flex-row">
  <div class="w-[25%] h-full">
    <img src="./images/logo-red.png" class="h-[190px] w-auto" alt="">
  </div>
  <div class="w-[25%] h-full flex flex-col gap-y-3 mt-[40px]">
    <b>Features</b>
    <ul class="flex flex-col gap-y-3">
      <li>Browse categories and products</li>
      <li>New arrivals</li>
      <li>Best sellers</li>
      <li>Size guide</li>
      <li>AR room designer</li>
    </ul>
  </div>
  <div class="w-[25%] h-full flex flex-col gap-y-3 mt-[40px]">
    <b>Online store</b>
    <ul class="flex flex-col gap-y-3">
      <li>Privacy Policy</li>
      <li>Delivery Policy</li>
      <li>Return & Refund Policy</li>
      <li>Warranty Policy</li>
    </ul>
  </div>
  <div class="w-[25%] flex flex-col gap-y-3 mt-[40px]">
    <b>Subscribe newsletters from us</b>
    <div class="bg-white w-[70%] border-[0.5px] border-[#CACACA] flex flex-row rounded-[5px]">
      <div class="w-[60%]">
        <input type="email" placeholder="Enter email" class="outline-none placeholder:text-lightext px-3 py-2 rounded-[5px]">
      </div>
      <div class="w-[40%] flex items-center justify-center bg-primary rounded-r-[5px] cursor-pointer">
        <b class="text-white">Subscribe</b>
      </div>
    </div>
  </div>
</div>
