<div class="h-full flex flex-col items-center">
  <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" circular showIndicators="true" showNavigators="false" autoplayInterval="3000">
    <ng-template pTemplate="item" let-image>
      <div class="flex items-center justify-center">
        <img [src]="image.src" [alt]="image.alt" class="w-full">
      </div>
    </ng-template>
  </p-carousel>

  <section class="w-[90%] flex flex-col">
    <div class="flex flex-row justify-between">
      <h1 class="text-xl font-bold my-6">Outstanding categories</h1>
      <button>
        <h1 class="text-primary font-bold text-xl">View more</h1>
      </button>
    </div>
    <div class="flex flex-row justify-between">
      <ng-container *ngFor="let item of categories">
        <div class="w-[49.5%]">
          <app-category [category]="item"/>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="w-[90%] flex flex-col">
    <div class="flex flex-row justify-between">
      <h1 class="text-xl font-bold my-6">Best sellers</h1>
      <button>
        <h1 class="text-primary font-bold text-xl">View more</h1>
      </button>
    </div>
    <div class="grid grid-cols-5 gap-8">
      <ng-container *ngFor="let item of [1,2,3,4,5]">
        <app-product />
      </ng-container>
    </div>
  </section>

  <section class="w-[90%] flex flex-col">
    <div class="flex flex-row justify-between">
      <h1 class="text-xl font-bold my-6">New arrivals</h1>
      <button>
        <h1 class="text-primary font-bold text-xl">View more</h1>
      </button>
    </div>
    <div class="grid grid-cols-5 gap-8">
      <ng-container *ngFor="let item of [1,2,3,4,5,6, 7, 8, 9]">
        <app-product />
      </ng-container>
    </div>
  </section>
</div>
