<div class="mx-20 flex flex-col gap-y-2">
  <app-breadcrumb></app-breadcrumb>
  <div class="flex flex-col gap-y-4">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row w-full w-[50%] items-center justify-start">
        <div class="w-[15%] flex flex-col gap-y-2">
          <ng-container *ngFor="let image of product.images;">
            <div class=" border border-[0.2px] border-primary max-h-[150px] max-w-[150px]" (click)="selectImage(image)">
              <img src="{{image.image.imageUrl}}" alt="product-image.png">
            </div>
          </ng-container>
        </div>
        <div class="w-[75%]">
          <img src="{{selectedImage.image.imageUrl}}" alt="selected-image.png">
        </div>
      </div>
      <div class="w-[50%] flex flex-col gap-y-3">
        <b class="text-text text-2xl">{{product.productName}}</b>
        <p class="text-primary text-xl">{{product.price | vndCurrency}}</p>
        <div class="flex flex-col gap-y-4">
          <p>Experience our product</p>
          <div class="flex flex-col w-full border border-1 border-[#BDBDBD] rounded-lg justify-center p-4 cursor-pointer">
            <div class="flex flex-row items-center gap-x-4 mb-3">
              <i class="pi pi-images"></i>
              <div>
                <b>All media</b>
                <p class="text-text text-sm">View all product images</p>
              </div>
            </div>
            <div class="border-1 border-[#BDBDBD] border"></div>
            <div class="flex flex-row items-center gap-x-4 mt-3 cursor-pointer">
              <div>
                <i class="pi pi-spin pi-box"></i>
              </div>
              <div (click)="openModelDialog()">
                <b>View in 3D/ your room</b>
                <p class="text-text text-sm">View and place our products in your home with size helper.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="hover:opacity-80 bg-primary mt-4 rounded-lg py-3 text-white font-bold">ADD TO VIRTUAL ROOM</button>
      </div>
    </div>
    <div class="h-[400px] w-full">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Description">Description</mat-tab>
        <mat-tab label="Specification">Specification</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
